<section class="notification-table">
  <% notifications.each do |notification| %>
    <% visitor = notification.visitor %>
    <% visited = notification.visited %>
    <div class="notification-user-image">
      <%= link_to user_path(visitor) do %>
        <%= attachment_image_tag(visitor, :profile_image, fallback: "no_image.jpg", size: "50x50", class:"profile-img-circle") %>
        <p><strong><%= visitor.name %></strong>さんが</p>
      <% end %>
    </div>
    <div class="notification-content">
      <% case notification.action
        when 'follow' then %>
        <p>あなたをフォローしました</p>
      <% when 'favorite' then %>
        <%= link_to 'あなたの投稿', train_path(notification.train), style: "font-weight: bold;" %>
        <p>にいいねしました</p>
      <% when 'train_comment' then %>
        <% if notification.train %>
          <% if notification.train.user_id == visited.id %>
            <%= link_to "あなたの投稿", notification.train, style: "font-weight: bold;" %>
            <p>にコメントしました</p>
          <% else %>
            <%= link_to train_path(notification.train) do %>
              <%= attachment_image_tag(notification.train.user, :profile_image, fallback: "no_image.jpg", size: "50x50", class: "profile-img-circle") %>
            <% end %>
          <% end %>
        <% end %>
        <% TrainComment.find_by(train_id: notification.train_comment_id)&.train_comment %>
        <%= time_ago_in_words(notification.created_at).upcase %>
      <% else %>
          <p>何もありません</p>
      <% end %>
    </div>
  <% end %>
</section>