<div class="messages">
  <% if messages.present? %>
    <% messages.each do |message| %>
      <% if message.user == current_user %>
        <div class="right-message">
          <div class="balloon-right">
            <strong class="my-message"><%= message.message %></strong>
          </div>
        </div>
        <div class="right-link">
          <%= link_to "削除", message_path(message.id), method: :delete, remote: true, class: "btn btn-danger", data: { confirm: 'このメッセージを削除しますか？' } %>
        </div>
      <% else %>
        <div class="left-message">
          <div class="chat-icon">
            <%= link_to user_path(message.user) do %>
              <%= attachment_image_tag(message.user, :profile_image, size: "30x30", format: 'jpg', fallback: "no_image.jpg") %>
            <% end %>
            <div class="opponent-user"><%= message.user.name %></div>
          </div>
          <div class="balloon-left">
            <strong><%= message.message %></strong>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <h3 class="text-center">メッセージはまだありません</h3>
  <% end %>
</div>
<div class="error">
  <%= render 'shared/errors', obj: @message %>
</div>

<!-- メッセージ送信フォーム -->
<section class="message-form">
  <%= render 'shared/message-form', message: @message %>
</section>