<table class='table'>
  <% users.each do |user| %>
    <tr>
      <td>
        <%= attachment_image_tag(user, :profile_image, size: "50x50", fallback: "no_image.jpg") %>
      </td>
      <td>
        <%= link_to user_path(user) do %>
          <%= user.name %>
        <% end %>
      </td>
      <td>フォロー数: <%= user.followings.count %></td>
      <td class="follower-count_<%= user.id %>">フォロワー数: <%= user.followers.count %></td>
      <% if current_user != user %>
        <td class="follow_<%= user.id %>"><%= render 'shared/follow-btn', user: user %></td>
      <% end %>
    </tr>
  <% end %>
</table>