<!-- 記事検索結果表示画面 -->
<table class='table'>

  <!-- 検索結果で表示を分ける -->
  <% if trains.empty? %>
    <h3 class="no-train">該当する記事はありません</h3>
  <% else %>
    <% trains.each do |train| %>
      <tr>
        <td>
          <%= link_to train_path(train.id) do %>
            <%= attachment_image_tag(train, :train_image, size: "50x50", fallback: "no_image.jpg") %>
          <% end %>
        </td>
        <td><%= train.user.name %></td>
        <td><%= train.line %></td>
        <td><%= train.body %></td>
      </tr>
    <% end %>
  <% end %>
</table>