<!DOCTYPE html>
<html>
  <head>
    <title>鉄分</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
  </head>

  <body>

    <!-- headerを表示 -->
    <%= render 'layouts/header' %>
      <main>
        <%= yield %>
        <span id="back">
          <a href="#">
            <img src="/assets/上向きの矢印のアイコン素材.png" alt="一番上に戻るアイコン">
          </a>
        </span>
      </main>

    <!-- footerを表示 -->
    <%= render 'layouts/footer' %>
  </body>
</html>
